/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #c6292972;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #4d5151;
}

/* Header */
.header {
  background-color: #8485a1;
  color: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo img {
  height:  350px; /* Adjust the height of the logo */
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.spacer {
  height: 60px; /* Space between header and other sections */
}

/* Hero Section */
.hero {
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Main Content */
.content {
  padding: 40px 0;
}

/* About Section */
.about {
  background-color: #fff;
  padding: 60px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 30px;
}

.about p {
  text-align: justify;
  margin-bottom: 20px;
}
/* service Section */
.service {
  background-color: #fff;
  padding: 60px 0;
}

.service h2 {
  text-align: center;
  margin-bottom: 30px;
}

.service p {
  text-align: justify;
  margin-bottom: 10px;
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
